@use 'sass:color';
@use '@material/theme/color-palette' as theme;

// Include all the global styles that do not involve dark/light modes.
@use '../app';

// linear-progress is included for the progress indicator in the EditorPart component
@use '@material/linear-progress/index' as linear-progress;

:root {
  --mdc-theme-primary: #003f69;
  --mdc-theme-secondary: #20945a;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-background: #f0f0f0;
  --mdc-theme-error: #B00020;
  --mdc-theme-on-secondary: #9b9b9b;
  --mdc-theme-on-surface: #000000;
}

// my-colored-bar style is used for the progress indicator in the EditorPart component
.my-colored-bar {
  @include linear-progress.bar-color(theme.$red-100);
  @include linear-progress.buffer-color(theme.$red-500);
}

:focus {
  outline: none;
}
// status-bar style is used for the StatusBar component above the editor
.status-bar {
  //--freon-colors-bg-status: #4f9a94;
  --freon-colors-bg-status: #80cbc4;
  --freon-colors-text-status: black;
  --freon-text-style-status: italic;
}

.main-frame {
  /* SplitPane divider */
  --freon-colors-slider: var(--mdc-theme-on-secondary);    /* The color of the slider between the error/search pane and the editor */
}

.editor-part {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--mdc-theme-surface);
  color: var(--mdc-theme-on-surface);
  margin: 0;
  box-sizing: border-box;
}

.divider {
  fill: #ff11ac;
  color: green;
  stroke-width: 2px;
  stroke: blue;
}

///////////////////////////// Freon /////////////////////
.freon-component {
  background-color: #0000000c; // $mac-gray-50t2: ;
  outline-color: #4C5C96; // $mac-primary-900};
  outline-width: 0px;
  outline-style: solid;
}
