:root {
  color-scheme: dark;
  --surface-a: #283a53;
  --surface-b: #17212f;
  --surface-c: rgba(255, 255, 255, 0.03);
  --surface-d: #304562;
  --surface-e: #1f2d40;
  --surface-f: #1f2d40;
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --primary-color: #64B5F6;
  --primary-color-text: #212529;
  --surface-0: #17212f;
  --surface-50: #2e3744;
  --surface-100: #454d59;
  --surface-200: #5d646d;
  --surface-300: #747a82;
  --surface-400: #8b9097;
  --surface-500: #a2a6ac;
  --surface-600: #b9bcc1;
  --surface-700: #d1d3d5;
  --surface-800: #e8e9ea;
  --surface-900: #ffffff;

  --surface-section: #17212f;
  --surface-topbar: #000000;
  --surface-overlay: #000000;
  --surface-border: #b8b8b8;
  --surface-hover: rgba(255, 255, 255, .03);

  --maskbg: rgba(0, 0, 0, 0.4);
  --focus-ring: 0 0 0 1px #93cbf9;
  --surface-ground: #DCD5E7;
  --surface-card: hwb(263 29% 49%);

  --navbar-background: #000000;
  --navbar-text: #92A7CE;
  --navbar-text-hover: var(--text-hover);

  --breadcrumb-background: #22272e;
  --breadcrumb-text: #fcfcfc;
  --breadcrumb-text-hover: var(--text-hover);
  --breadcrumb-border: #4a5568;

  --drawer-background: #22272e;
  --drawer-handle: #4a5568;
  --drawer-button: var(--text-primary-500);
  --drawer-content-background: #2c3e50;
  --drawer-header-background: #1e2b38;
  --drawer-header-text: var(--text-primary-500);
  --drawer-content-area: #2c3e50;

  --toolbar-button: var(--text-primary-500);
  --toolbar-button-background: none;  
  --toolbar-button-hover: var(--white);
  --toolbar-button-hover-background: var(--white-10t);
  --toolbar-button-active: var(--white); 
  --toolbar-button-active-background: var(--white-20t);

  --content-background: #22272e;

  --card-background: var(--bg-gray-800);
  --card-border-color: #454d59;

  --logo-text1: #ffffff;
  --logo-text2: #8f82a3;
  --logo-text-p1: #CECECE;
  --logo-text-p2: #92A7CE;

  --popup-border: #5e526d;
  --popup-background: #eeeeee;
  --popup-highlight: #0000002c;
  --popup-text: #000000;
  --popup-text2: #313131;

  --button-background: var(--primary-800);
  --button-text: #ffffff;
  --button-border: #454d59;
  --button-hover: #304562;
  --button-active: #1f2d40;

  --background-color: white;
  --background-value1: #333;
  --background-label: #555;
  --divider-color: #ccc;
  --object-border: #746586;
  --object-background: #ffffff;
  --object-text: #000000;
  --object-text2: #313131;
  --object-inverted-text: #f1f1f1;
  --object-background-hover: #654e8911;
  --object-background-active: #654e8980;
  --object-shadow: #cfcfcf;
  --object-icon: #292929;
  --object-highlight: #e0e0e0;
  --object-focus: #0000005d;
  --object-1-background: #654E89;
  --object-1-text: #ffffff;
  --object-1-border: #4d386e;
  --object-1-background-hover: #654e89cb;
  --object-1-background-active: #654e89c7;
  --object-2-background: #bbbbbb;
  --object-2-text: #2f2f2f;
  --object-2-border: #676767;
  --object-2-background-hover: #92929211;
  --object-2-background-active: #92929280;
  --object-2-shadow: #cfcfcf;
  --object-3-background: transparent;
  --object-3-text: #654E89;
  --object-3-border: #4d386e;
  --object-3-background-hover: #654e8911;
  --object-3-background-active: #654e8948;
  --object-ondark-background: transparent;
  --object-ondark-text: #ffffff;
  --object-ondark-border: transparent;
  --object-ondark-background-hover: #ffffff11;
  --object-ondark-border-hover: #ffffff;
  --object-ondark-background-active: transparent;
  --object-onlight-background: transparent;
  --object-onlight-text: #676767;
  --object-onlight-border: transparent;
  --object-onlight-background-hover: #92929211;
  --object-onlight-border-hover: #676767;
  --object-onlight-background-active: transparent;
  --text-color1: rgba(0, 0, 0, 0.95);
  --text-color2: rgba(0, 0, 0, 0.75);
  --text-color3: rgba(0, 0, 0, 0.16);
  --text-color4: rgba(0, 0, 0, 0.12);
  --text-link-color: #2d45cc;
  --table-header-background: #e0e0e0;
  --table-header-text: #000000;
  --table-border: #9e9d9d;
  --table-colhead-background: #bebebe;
  --table-colhead-text: #404040;
  --table-row1-background: #ffffff;
  --table-row1-text: #404040;
  --table-row2-background: #f0f0f0;
  --table-row2-text: #000000;
  --table-footer-background: #e0e0e0;
  --table-footer-text: #404040;
  --table-pager-background: #e0e0e0;
  --table-highlight-background: #654e893a;
  --table-highlight-text: #6e6e6e;
  --tooltip-background: #000000;
  --tooltip-text: #ffffff;
  --timeline-header-background: #e0e0e0;
  --timeline-header-text: #000000;
  --timeline-card: #e0e0e0;

  --red: #dbbdbd;
  --green: #bddbbd;
  --blue: #bdbddb;
  --yellow: #dbdbbd;
  --orange: #dbd1bd;
  --purple: #dbbddb;
  --cyan: #bddbdb;
  --pink: #dbbdc2;
  --indigo: #cebddb;
  --teal: #bddbdb;
  --bluegray: #607d8b;

  --text-primary-50: #ebedf3;
  --text-primary-100: #d7dae5;
  --text-primary-200: #c3c7d7;
  --text-primary-300: #afb4c9;
  --text-primary-400: #9ba1bb;
  --text-primary-500: #878ead;
  --text-primary-600: #737b9f;
  --text-primary-700: #5f6891;
  --text-primary-800: #4b5583;
  --text-primary-900: #4C5C96;

  --text-hover: #a971c3;

  --error-background: #fae4e7;
  --error-color: #ae2b22;
}

body {
  color: #333;
  background-color: #f3f3f3;
}

a {
  color: rgb(0, 80, 160);
}

a:visited {
  color: rgb(0, 80, 160);
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.login-container a {
  color: #9bcbff;
}

.login-container Label,
.login-container p {
  color: #ffffff;
}

#login button {
  color: white;
  background-color: transparent;
  background-image: none
}

#login button:hover {
  color: white;
  background-color: var(--primary-900); 
  background-image: none
}

.toast-warning-container div {
  background-color: transparent;
  color: var(--red);
}

.crc-logo-p1 {
  color: var(--logo-text-p1);
}

.crc-logo-p2 {
  color: var(--logo-text-p2);
}

aside,
aside div {
  background-color: var(--navbar-background) !important;
}

appbar a,
appnav a {
  color: var(--navbar-text);
}

appbar a:hover,
appnav a:hover {
  color: var(--navbar-text-hover);
}

appbar a:visited,
appnav a:visited {
  color: var(--navbar-text);
}

/* #region Dialog */
.dialog-content .primary-button {
  background-color: var(--primary-800) !important;
  color: var(--white) !important;
}

.dialog-content .primary-button:hover {
  background-color: var(--primary-900) !important;
  color: var(--white) !important;
}

.dialog-content .primary-button:active {
  background-color: var(--primary-900) !important;
  color: var(--white) !important;
}

.dialog-content .secondary-button {
  background-color: var(--gray-400) !important;
  color: var(--white) !important;
}

.dialog-content .secondary-button:hover {
  background-color: var(--gray-500) !important;
  color: var(--white) !important;
}

.dialog-content .secondary-button:active {
  background-color: var(--gray-500) !important;
  color: var(--white) !important;
}
/* #endregion */

/* #region Navbar */
.navbar-component {
  background-color: var(--navbar-background) !important;
  background-image: url('/assets/images/navbar_background.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.navbar-commands ul {
  background-color: transparent !important;
}

.navbar-commands a,
.navbar-commands a:visited {
  color: var(--navbar-text) !important;
}

.navbar-commands a:hover {
  color: var(--navbar-text-hover) !important;
}

.navbar-component .avatar-menu button {
  color: var(--gray-200);
  border: 0;
}
.navbar-component .avatar-menu div {
  color: var(--gray-200);
}
/* #endregion */

/* #region Breadcrumb */
.crc-breadcrumb {
  background-color: var(--breadcrumb-background) !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.crc-breadcrumb a {
  color: var(--breadcrumb-text) !important;
}

.crc-breadcrumb a:hover {
  color: var(--breadcrumb-text-hover) !important;
}

/* #endregion */

/* #region AppNav */
#appnav-component a:hover {
  color: var(--navbar-background) !important;
}

/* #endregion */

/* #region Editor */
.footer-container {
  background-color: var(--drawer-header-background);
  border-top: 1px solid var(--drawer-handle);
}

.editor-footer-button {
  color: var(--drawer-header-text);
}

.editor-footer-button:hover {
  color: var(--white);
}

.editor-footer-text {
  color: var(--drawer-header-text);
}
/* #endregion */

/* #region Toolbar */
.toolbar-button{
  background: var(--toolbar-button-background) !important;
  color: var(--toolbar-button) !important;
}

.toolbar-button:hover {
  background: var(--toolbar-button-hover-background) !important;
  color: var(--toolbar-button-hover) !important;
} 

.toolbar-button:active {
  background: var(--toolbar-button-active-background) !important;
  color: var(--toolbar-button-active) !important;
} 
/* #endregion */

/* #region Grid */

.crc-grid-header {
  background-color: var(--card-background);
  box-shadow: none;
}

.crc-grid-header h3 {
  color: var(--text-primary-500);
}

.crc-grid {
  background-color: var(--content-background);
}

.crc-grid a,
.crc-grid a:visited {
  color: rgb(68, 133, 199);
}

.crc-grid a:hover {
  color: var(--text-hover);
}

.grid-header-button {
  color: var(--primary-600);
  background-color: transparent;
  border-color: var(--primary-600);
  transition: color 0.3s ease;
}

.grid-header-button:hover {
  color: var(--white);
  background-color: var(--primary-600);
}

.grid-button {
  color: var(--primary-600);
  background-color: transparent;
  border-color: var(--primary-600);
  transition: color 0.3s ease;
}

.grid-button:hover {
  color: var(--white);
  background-color: var(--primary-600);
}

.ag-theme-quartz-dark .ag-row-group.ag-row-level-0 {
  background-color: #474747;
}

.ag-theme-quartz-dark .ag-row-group.ag-row-level-1 {
  background-color: #5e5e5e;
}

.ag-theme-quartz .ag-row-group.ag-row-level-0 {
  background-color: #c6d1e5;
}

.ag-theme-quartz .ag-row-group.ag-row-level-1 {
  background-color: #d1dcf1;
}

/* #endregion */

/* #region Card */
.crc-card, .crc-content {
  background-color: var(--content-background);
}

.crc-card h3 {
  color: var(--text-primary-500);
}

.crc-card h4 {
  color: var(--gray-600);
}

.crc-card p {
  color: var(--white);
}

/* #endregion */

/* #region Tab */
.crc-tab {
  background-color: var(--content-background);
}

.crc-tab .tab-item {
  color: var(--white);
  background-color: transparent;
}

.crc-tab .tab-item:hover {
  background-color: var(--white-10t);
}

.crc-tab .tab-item:active {
  background-color: var(--white-20t);
}
/* #endregion */

/* #region Drawer */
.drawer-system {
  box-shadow: -20px 0 20px -20px rgba(0, 0, 0, 0.5);
}
.drawer-buttons {
  background-color: var(--drawer-background);
}
.drawer-button {
  background: none;
  color: var(--drawer-button);
}
.drawer-header {
  background-color: var(--drawer-header-background);
  color: var(--drawer-header-text);
}
.drawer-header-button {
  background: none;
  color: var(--drawer-header-text);
}
.resize-handle {
  background-color: var(--drawer-handle);
}
.grip-icon {
  color: #ffffff;
}
.drawer-content,
.drawer-content-area {
  background-color: var(--drawer-content-area);
}
/* #endregion */

/* #region Drawer Table */

.table_component table {
  border: 1px solid var(--white-30t) !important;
}

.table_component caption {
  color: var(--white-70t) !important;
}

.table_component th {
  border: 1px solid var(--white-40t) !important;
  background-color: var(--black-10t) !important;
  color: var(--white) !important;
}

.table_component td {
  border: 1px solid var(--white-20t) !important;
  color: var(--white-90t) !important;
}

.table_component tbody tr:nth-child(even) td {
  background-color: var(--white-10t) !important;
}

.table_component tbody tr:nth-child(odd) td {
  background-color: var(--white-5t) !important;
}
/* #endregion */

/* #region Drawer Timeline */
.study-timeline-title {
  color: var(--white-70t) !important;
}

.not-available-row-label {
  color: red !important;
}

.vis-item.screening-phase {
  background-color: #005e4c;
  color: white;
}
.vis-item.baseline-phase {
  background-color: #895b00;
  color: white;
}
.vis-item.treatment-phase {
  background-color: #600078;
  color: white;
}

.vis-item.window,
.key-item .window {
  background-color: #c3c3be;
}

.vis-item.scheduled-event,
.key-item .scheduled-event {
  background-color: #485bc7
}

.vis-item.patient,
.key-item .patient {
  background-color: #95a89a;
}

.vis-item.not-available,
.key-item .not-available {
  background-color: #b0395f
}

.vis-item.on-scheduled-date,
.key-item .on-scheduled-date {
  background-color: #000000;
}

.vis-item.staff,
.key-item .staff {
  background-color: #c6b603;
}

.vis-item.out-of-window,
.key-item .out-of-window {
  background-image: repeating-linear-gradient(45deg, rgb(189, 124, 5),rgb(189, 124, 5) 5px, white 2px, white 7px);
}

.vis-item.visit-not-found,
.key-item .visit-not-found {
  background-color: rgb(3, 77, 206);
}

.vis-item.in-window,
.key-item .in-window {
  background-image: repeating-linear-gradient(45deg, black, black 5px, white 2px, white 7px);
}

.timeline-instructions li {
  color: var(--white-50t) !important;
}

.key-item span {
  color: var(--white-50t) !important;
}

.vis-label, .vis-text {
  color: var(--white-70t) !important;
}

.vis-time-axis .vis-grid.vis-minor {
border-color: var(--white-5t) !important;
}

.vis-foreground .vis-group {
border-bottom: 1px solid var(--white-5t) !important;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top {
border: 1px solid var(--white-5t) !important;
}

.vis-labelset .vis-label {
border-bottom: 1px solid var(--white-5t) !important;
}

/* #endregion */

/* #region Error Drawer */
.error-drawer-button{
  background: var(--toolbar-button-background) !important;
  color: var(--toolbar-button) !important;
}

.error-drawer-button:hover {
  background: var(--toolbar-button-hover-background) !important;
  color: var(--toolbar-button-hover) !important;
} 

.error-drawer-button:active {
  background: var(--toolbar-button-active-background) !important;
  color: var(--toolbar-button-active) !important;
} 
/* #endregion */