:root {
  --mdc-theme-primary: #ff5722;
  --mdc-theme-secondary: #4caf50;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-background: #f0f0f0;
  --mdc-theme-error: #f44336;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-on-surface: #000000;
}

/* #region GENERAL */
.mdc-drawer {
  background-color: #e4e4e4 !important;
}

.mdc-drawer span {
  color: black !important;
}

.mdc-drawer__title {
  color: rgb(64, 80, 104) !important;
}

.demo-list {
  border-left: 4px solid #245786 !important;
}

.mdc-deprecated-list-item--activated {
  background-color: var(--mdc-theme-primary) !important;
}

.mdc-menu-surface {
  background-color: #9d9d9d !important;
}

/* #endregion */

:focus {
  outline: none;
}

.status-bar {
  --freon-colors-bg-status: #608cb6;
  --freon-colors-text-status: black;
  --freon-text-style-status: italic;
}

.text-box-action {
  --freon-text-component-color: rgb(104, 104, 104);
}

.text-box-select {
  --freon-text-component-color: green;
}

.text-box-text {
  --freon-text-component-color: blue;
}

/* #region FREON COMPONENTS */

/* #region Label Component */
.label-component:empty:before {
  background-color: inherit;
}

.label-component {
  color: var(--gray-700);
  background-color: inherit;
}

/* #endregion */

/* #region Text Component */
.text-dropdown-component .text-component-input,
.text-component-input {
  color: rgb(1, 95, 1);
  background-color: var(--green-20t);
}

.text-dropdown-component .text-component-text,
.text-component-text {
  color: rgb(1, 95, 1);
  background-color: var(--green-20t);
}

.text-dropdown-component .text-component-text:hover,
.text-component-text:hover {
  color: rgb(1, 95, 1);
  background-color: var(--green-30t);
}

.text-dropdown-component .text-component-placeholder,
.text-component-placeholder {
  color: var(--gray-500);
  background-color: inherit;
}

.text-component-action-placeholder {
  color: var(--gray-700);
  background-color: inherit;
}

/* #endregion */

/* #region Switch Component */
.switch-component button {
  background: var(--gray-600);
}

.switch-component button::before {
  /* defines the knob */
  background-color: var(--gray-400);
}

.switch-component button[aria-checked='true'] {
  background-color: var(--primary-900t);
}

.switch-component button:focus {
  box-shadow: 0 0 0 1px #206C2D;
  ;
}

.switch-component button:hover {
  box-shadow: 0 0 5px 2px #4C5C96;
}

/* #endregion */

/* #region List Group Component */
.list-group.type1 {
  background-color: var(--primary-900t);
}

.list-group.type2 {
  background-color: var(--black-5t);
}

.list-group.type3 {
  border-bottom: 1px solid var(--white-20t);
}

.list-group.type4 {
  border-bottom: 1px solid #1191b9;
  ;
}

.list-group.type1 .list-group-label {
  color: var(--black);
}

.list-group.type2 .list-group-label {
  color: var(--gray-800);
}

.list-group.type3 .list-group-label {
  color: var(--gray-800);
}

.list-group.type4 .list-group-label {
  color: #1191b9;
}

.list-group.type4 .toggle-button {
  color: #1191b9;
}

.list-group .toggle-button {
  border: none;
  color: var(--gray-800);
  background-color: transparent;
}

.list-group .toggle-button:hover {
  background-color: var(--black-10t);
}

.list-group .toggle-button:active {
  background-color: var(--black-20t);
}

/* #endregion */

/* #region Item Group Component */
.item-group {
  background-color: inherit;
}

.item-group .required {
  background-color: var(--error-background);
  color: var(--pink-900);
}

.item-group.type1 {
  background-color: inherit;
}

.item-group.type2 {
  background-color: inherit;
}

.item-group.type1 .item-group-label {
  color: var(--black);
}

.item-group.type2 .item-group-label,
.item-group.type3 .item-group-label,
.item-group.type4 .item-group-label {
  color: var(--gray-800);
}

.item-group .toggle-button {
  border: none;
  color: var(--gray-800);
  background-color: transparent;
}

.item-group .toggle-button:hover {
  background-color: var(--black-10t);
}

.item-group .toggle-button:active {
  background-color: var(--black-20t);
}

.drag-button {
  color: var(--gray-800);
  background-color: transparent;
}

/* #endregion */

/* #region Layout Component */
.layout-component {
  background: transparent;
}

/* #endregion */

/* #region MultlineText Component */
.multiline-text {
  color: var(--freon-editor-component-color, rgb(129, 129, 129)) !important;
  background: var(--freon-text-component-background-color, inherit) !important;
}

.multiline-editor {
  outline: 1px solid transparent !important;
  outline-offset: 1px !important;
  --tw-ring-inset: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #32cd3275;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
  border-color: #ffffff00;
  margin: 4px 4px 4px 4px !important;
}

/* #endregion */

/* #region Date Component */
.date-component-input {
  color: var(--primary-200);
  background-color: var(--gray-900);
}

.date-component-text {
  color: var(--primary-200);
  background-color: inherit;
}

.date-component-placeholder {
  color: var(--gray-600);
  background-color: inherit;
}

/* #endregion */

/* #region Time Component */
.time-component-input {
  color: var(--primary-200);
  background-color: var(--gray-900);
}

.time-component-text {
  color: var(--primary-200);
  background-color: inherit;
}

.time-component-placeholder {
  color: var(--gray-600);
  background-color: inherit;
}

/* #endregion */

/* #region Dropdown Component */
.dropdown-component {
  background-color: #e0e0e0;
  color: black;
  border: var(--green-50t) 1px solid;
}

.dropdown-component-item:hover {
  background-color: var(--black-20t);
}

.dropdown-component-selected {
  background-color: var(--black-10t);
}

/* #endregion */

/* #region Context Menu */
.contextmenu {
  background-color: #e7eaef;
  border-color: #98a3b3;
  box-shadow: 1.5px 1.5px 8px grey;
}

.contextmenu-button {
  background: none;
  border: none;
  color: black !important;
}

.contextmenu-button:hover {
  background-color: #c2cbe9;
  color: black;
}

.contextmenu-hr {
  width: 100%;
  margin: 0;
  color: unset !important;
  border-top: solid 1px #696969;
}

.contextmenu-shortcut {
  color: #A0AACF !important;
}

/* #endregion */

/* #region Button */
/* Copied from https://svelte.dev/repl/hello-world?version=4.2.18 */
/* Ripple effect */
/* Button style */
.button-component {}

.button-component-ripple {
  background-position: center;
  transition: background 0.8s;
}

.button-component-ripple:hover {}

.button-component-ripple:active {}

.button-component-empty {}

/* #endregion */

/* #region Datepicker */

.datepicker-input {
  color: rgb(1, 95, 1);
  background-color: var(--green-10t);
  border: transparent;
}

.datepicker-input:hover {
  color: rgb(1, 95, 1);
  background-color: var(--green-30t);
}

.datepicker-input:focus {
  color: rgb(1, 95, 1);
  background-color: var(--green-10t);
  border: rgb(1, 95, 1);
}
/* #endregion */

/* #region Datepicker */

.timepicker-input {
  color: rgb(1, 95, 1);
  background-color: var(--green-10t);
  border: transparent;
}

.timepicker-input:hover {
  color: rgb(1, 95, 1);
  background-color: var(--green-30t);
}

.timepicker-input:focus {
  color: rgb(1, 95, 1);
  background-color: var(--green-10t);
  border: rgb(1, 95, 1);
}
/* #endregion */

.render-component-selected {
  background-color: var(--black-2t);
}
