:root {
  color-scheme: light;
  --surface-a: #1f2d40;
  --surface-b: #17212f;
  --surface-c: rgba(255, 255, 255, 0.03);
  --surface-d: #304562;
  --surface-e: #1f2d40;
  --surface-f: #1f2d40;
  --text-color-secondary: rgba(0, 0, 0, 0.6);
  --primary-color: #64B5F6;
  --primary-color-text: #212529;
  --surface-0: #17212f;
  --surface-50: #2e3744;
  --surface-100: #454d59;
  --surface-200: #5d646d;
  --surface-300: #747a82;
  --surface-400: #8b9097;
  --surface-500: #a2a6ac;
  --surface-600: #b9bcc1;
  --surface-700: #d1d3d5;
  --surface-800: #e8e9ea;
  --surface-900: #ffffff;

  --surface-section: #17212f;
  --surface-topbar: #000000;
  --surface-overlay: #000000;
  --surface-border: #b8b8b8;
  --surface-hover: rgba(255, 255, 255, .03);

  --maskbg: rgba(0, 0, 0, 0.4);
  --focus-ring: 0 0 0 1px #93cbf9;
  --surface-ground: #DCD5E7;
  --surface-card: #604a83;

  --navbar-background: #000000;
  --navbar-text: #92A7CE;
  --navbar-text-hover: var(--text-hover);

  --breadcrumb-background: #cfd6e0;
  --breadcrumb-link: #000000;
  --breadcrumb-link-hover: var(--text-hover);
  --breadcrumb-border: #4a5568;
  --breadcrumb-text: #525252;

  --drawer-background: #cfd6e0;
  --drawer-handle: #b6b6b6;
  --drawer-button: var(--text-primary-900);
  --drawer-content-background: #d5dee7;
  --drawer-header-background: #a9b7c5;
  --drawer-header-text: var(--text-primary-900);
  --drawer-content-area: #e2e2e2;
  --drawer-error-text: #af5080;
  --arrow-background: #d5dee7;

  --toolbar-button: var(--text-primary-500);
  --toolbar-button-background: none;  
  --toolbar-button-hover: var(--black);
  --toolbar-button-hover-background: var(--black-10t);
  --toolbar-button-active: var(--black); 
  --toolbar-button-active-background: var(--black-20t);

  --content-background: #cfd6e0;

  --card-background: #ffffff;
  --card-border-color: #bac4d1;

  --logo-text1: #ffffff;
  --logo-text2: #8f82a3;
  --logo-text-p1: #CECECE;
  --logo-text-p2: #92A7CE;

  --popup-border: #5e526d;
  --popup-background: #eeeeee;
  --popup-highlight: #0000002c;
  --popup-text: #000000;
  --popup-text2: #313131;
  --background-color: white;
  --background-value1: #333;
  --background-label: #555;
  --divider-color: #ccc;
  --object-border: #746586;
  --object-background: #ffffff;
  --object-text: #000000;
  --object-text2: #313131;
  --object-inverted-text: #f1f1f1;
  --object-background-hover: #654e8911;
  --object-background-active: #654e8980;
  --object-shadow: #cfcfcf;
  --object-icon: #292929;
  --object-highlight: #e0e0e0;
  --object-focus: #0000005d;
  --object-1-background: #654E89;
  --object-1-text: #ffffff;
  --object-1-border: #4d386e;
  --object-1-background-hover: #654e89cb;
  --object-1-background-active: #654e89c7;
  --object-2-background: #bbbbbb;
  --object-2-text: #2f2f2f;
  --object-2-border: #676767;
  --object-2-background-hover: #92929211;
  --object-2-background-active: #92929280;
  --object-2-shadow: #cfcfcf;
  --object-3-background: transparent;
  --object-3-text: #654E89;
  --object-3-border: #4d386e;
  --object-3-background-hover: #654e8911;
  --object-3-background-active: #654e8948;
  --object-ondark-background: transparent;
  --object-ondark-text: #ffffff;
  --object-ondark-border: transparent;
  --object-ondark-background-hover: #ffffff11;
  --object-ondark-border-hover: #ffffff;
  --object-ondark-background-active: transparent;
  --object-onlight-background: transparent;
  --object-onlight-text: #676767;
  --object-onlight-border: transparent;
  --object-onlight-background-hover: #92929211;
  --object-onlight-border-hover: #676767;
  --object-onlight-background-active: transparent;
  --text-color1: rgba(0, 0, 0, 0.95);
  --text-color2: rgba(0, 0, 0, 0.75);
  --text-color3: rgba(0, 0, 0, 0.16);
  --text-color4: rgba(0, 0, 0, 0.12);
  --text-link-color: #2d45cc;
  --table-header-background: #e0e0e0;
  --table-header-text: #000000;
  --table-border: #9e9d9d;
  --table-colhead-background: #bebebe;
  --table-colhead-text: #404040;
  --table-row1-background: #ffffff;
  --table-row1-text: #404040;
  --table-row2-background: #f0f0f0;
  --table-row2-text: #000000;
  --table-footer-background: #e0e0e0;
  --table-footer-text: #404040;
  --table-pager-background: #e0e0e0;
  --table-highlight-background: #654e893a;
  --table-highlight-text: #6e6e6e;
  --tooltip-background: #000000;
  --tooltip-text: #ffffff;
  --timeline-header-background: #e0e0e0;
  --timeline-header-text: #000000;
  --timeline-card: #e0e0e0;

  --red: #dbbdbd;
  --green: #bddbbd;
  --blue: #bdbddb;
  --yellow: #dbdbbd;
  --orange: #dbd1bd;
  --purple: #dbbddb;
  --cyan: #bddbdb;
  --pink: #dbbdc2;
  --indigo: #cebddb;
  --teal: #bddbdb;
  --bluegray: #607d8b;

  --text-primary-50: #02091f;
  --text-primary-100: #0e1632;
  --text-primary-200: #1a2345;
  --text-primary-300: #263058;
  --text-primary-400: #323d6b;
  --text-primary-500: #3e4a7e;
  --text-primary-600: #3f4d85;
  --text-primary-700: #41518c;
  --text-primary-800: #465693;
  --text-primary-900: #4C5C96;

  --text-hover: #a971c3;

  --error-background: #fae4e7;
  --error-color: #ae2b22;
  --error-indicator: #c75047;
}

body {
  color: #333;
  background-color: #f3f3f3;
}

a {
  color: rgb(0, 80, 160);
}

a:visited {
  color: rgb(0, 80, 160);
}

input:disabled {
  color: #ccc;
}

// button {
//   color: #333;
//   background-color: #f4f4f4;
// }

// button:disabled {
//   color: #999;
// }

// button:not(:disabled):active {
//   background-color: #ddd;
// }

// button:focus {
//   border-color: #666;
// }

.login-container a {
  color: #9bcbff;
}

.login-container Label,
.login-container p {
  color: #ffffff;
}

#login button {
  color: white;
  background-color: transparent;
  background-image: none
}

#login button:hover {
  color: white;
  background-color: var(--primary-900);  //var(--navbar-background);
  background-image: none
}

.toast-warning-container div {
  background-color: transparent;
  color: var(--red);
}

.crc-logo-p1 {
  color: var(--logo-text-p1);
}

.crc-logo-p2 {
  color: var(--logo-text-p2);
}

aside,
aside div {
  background-color: var(--navbar-background) !important;
}

appbar a,
appnav a {
  color: var(--navbar-text);
}

appbar a:hover,
appnav a:hover {
  color: var(--navbar-text-hover);
}

appbar a:visited,
appnav a:visited {
  color: var(--navbar-text);
}

.standard-button {
  color: var(--primary-600);
  background-color: transparent;
  border-color: var(--primary-600);
  transition: color 0.3s ease;
}

.standard-button:hover {
  color: var(--white);
  background-color: var(--primary-600);
}

.standard-button:active {
  color: var(--white);
  background-color: var(--primary-800);
}

/* #region Dialog */
.dialog-content .primary-button {
  background-color: var(--primary-800) !important;
  color: var(--white) !important;
}

.dialog-content .primary-button:hover {
  background-color: var(--primary-900) !important;
  color: var(--white) !important;
}

.dialog-content .primary-button:active {
  background-color: var(--primary-900) !important;
  color: var(--white) !important;
}

.dialog-content .secondary-button {
  background-color: var(--gray-400) !important;
  color: var(--white) !important;
}

.dialog-content .secondary-button:hover {
  background-color: var(--gray-500) !important;
  color: var(--white) !important;
}

.dialog-content .secondary-button:active {
  background-color: var(--gray-500) !important;
  color: var(--white) !important;
}
/* #endregion */

/* #region Navbar */
.navbar-component {
  background-color: var(--navbar-background) !important;
  background-image: url('/images/navbar_background.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.navbar-commands ul {
  background-color: transparent !important;
}

.navbar-commands a,
.navbar-commands a:visited {
  color: var(--navbar-text) !important;
}

.navbar-commands a:hover {
  color: var(--navbar-text-hover) !important;
}

.navbar-component .avatar-menu button {
  color: var(--gray-800);
  border: 0;
}
.navbar-component .avatar-menu div {
  color: var(--gray-800);
}
/* #endregion */

/* #region Breadcrumb */
.breadcrumb {
  background-color: var(--breadcrumb-background) !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.breadcrumb li {
  color: var(--breadcrumb-text) !important;
}

.breadcrumb a {
  color: var(--breadcrumb-link) !important;
}

.breadcrumb a:hover {
  color: var(--breadcrumb-link-hover) !important;
}
/* #endregion */

/* #region AppNav */
#appnav-component a:hover {
  color: var(--navbar-background) !important;
}
/* #endregion */

/* #region Editor */
.crc-editor {
  background-color: white;
}

.footer-container {
  background-color: var(--drawer-header-background);
  border-top: 1px solid var(--drawer-handle);
}

.editor-footer-button {
  color: var(--drawer-header-text);
}

.editor-footer-button:hover {
  color: var(--white);
}

.editor-footer-label {
  color: var(--gray-900);
}

.editor-footer-text {
  color: var(--drawer-header-text);
}

.editor-display-options-popover {
  background-color: var(--drawer-content-background);
}

.editor-display-options label {
  color: var(--black-90t);
}

.editor-message {
  color: var(--black-90t);
}
/* #endregion */

/* #region Toolbar */
.toolbar-button{
  background: var(--toolbar-button-background) !important;
  color: var(--toolbar-button) !important;
}

.toolbar-button:hover {
  background: var(--toolbar-button-hover-background) !important;
  color: var(--toolbar-button-hover) !important;
} 

.toolbar-button:active {
  background: var(--toolbar-button-active-background) !important;
  color: var(--toolbar-button-active) !important;
} 
/* #endregion */

/* #region Grid */
.grid-header {
  background-color: var(--card-background);
  box-shadow: none;
}

.crc-grid {
  background-color: var(--content-background);
}

.crc-grid a,
.crc-grid a:visited {
  color: var(--primary-600);
}

.crc-grid a:hover {
  color: var(--text-hover);
}

.grid-button {
  color: var(--primary-900);
  background-color: transparent;
  border-color: var(--primary-900);
  transition: color 0.3s ease;
}

.grid-button:hover {
  color: var(--white);
  background-color: var(--primary-900);
}

.ag-theme-quartz-dark .ag-row-group.ag-row-level-0 {
  background-color: #474747;
}

.ag-theme-quartz-dark .ag-row-group.ag-row-level-1 {
  background-color: #5e5e5e;
}

.ag-theme-quartz .ag-row-group.ag-row-level-0 {
  background-color: #c6d1e5;
}

.ag-theme-quartz .ag-row-group.ag-row-level-1 {
  background-color: #d1dcf1;
}

/* #endregion */

/* #region Card */
.crc-card, .crc-content {
  background-color: var(--content-background);
}

.standard-text {
  color: var(--black);
}

/* #endregion */

/* #region Tab */
.tab-item {
  color: var(--black);
  background-color: transparent;
  border-bottom: 2px solid transparent !important;
}

.tab-item:hover {
  background-color: var(--black-10t) !important;
}

.tab-active {
  color: var(--primary-600) !important;
  border-bottom: 2px solid var(--primary-600) !important;
}

/* #endregion */

/* #region Drawer */
.drawer-system {
  box-shadow: -20px 0 20px -20px rgba(0, 0, 0, 0.5);
}

.drawer-buttons {
  background-color: var(--drawer-background);
}

.drawer-button {
  background: none;
  color: var(--drawer-button);
}

.drawer-header {
  background-color: var(--drawer-header-background);
  color: var(--drawer-header-text);
}

.drawer-header-button {
  background: none;
  color: var(--drawer-header-text);
}

.drawer-header-button:hover {
  background: var(--black-5t) !important;
  color: var(--black) !important;
}

.drawer-header-button:active {
  background: var(--black-10t) !important;
  color: var(--black) !important;
}

.resize-handle {
  width: 8px;
  background-color: var(--drawer-handle);
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 1px 0 4px rgba(0,0,0,0.08);
}

.resize-handle.bright {
  background-color: #1C64F2 !important;
  box-shadow: 0 0 12px #1C64F2, 1px 0 4px rgba(0,0,0,0.08);
}

.drawer-content,
.drawer-content-area {
  background-color: var(--drawer-content-area);
}

.drawer-error {
  color: var(--drawer-error-text) !important;
}
/* #endregion */

/* #region Drawer Table */
.table_component table {
  border: 1px solid var(--black-40t) !important;
}

.table_component caption {
  color: var(--black-50t) !important;
}

.table_component th {
  border: 1px solid var(--black-40t) !important;
  background-color: var(--black-20t) !important;
  color: var(--black-60t) !important;
}

.table_component td {
  border: 1px solid var(--black-40t) !important;
  color: var(--black-90t) !important;
}

.table_component tbody tr:nth-child(even) td {
  background-color: var(--white-20t) !important;
}

.table_component tbody tr:nth-child(odd) td {
  background-color: var(--white-50t) !important;
}
/* #endregion */

/* #region Error Drawer */
.error-drawer {
  color: var(--black) !important;
}

.error-drawer-head {
  color: var(--black) !important;
}

.error-drawer-cell {
  color: var(--black) !important;
} 

.error-drawer-button{
  background: var(--toolbar-button-background) !important;
  color: var(--toolbar-button) !important;
}

.error-drawer-button:hover {
  background: var(--toolbar-button-hover-background) !important;
  color: var(--toolbar-button-hover) !important;
} 

.error-drawer-button:active {
  background: var(--toolbar-button-active-background) !important;
  color: var(--toolbar-button-active) !important;
} 
/* #endregion */

/* #region Object Drawer */
.object-drawer {
  background-color: var(--mutation-background) !important;
}

.object-drawer-area {
  background-color: var(--content-background) !important;
}

.object-drawer-error-indicator {
  color: var(--error-indicator) !important;
}
/* #endregion */

/* #region Buttons */
.standard-button.primary:not(:disabled),
.icon-button.primary:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--primary-900) !important;
  border-color: var(--primary-900) !important;
  transition: color 0.3s ease !important;
}

.standard-button.primary:hover:not(:disabled),
.icon-button.primary:hover:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--primary-900) !important;
  border-color: var(--white) !important;
}

.standard-button.primary:active:not(:disabled),
.icon-button.primary:active:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--primary-700) !important;
  border-color: var(--white) !important;
}

.standard-button.primary.inverted:not(:disabled),
.icon-button.primary.inverted:not(:disabled) {
  color: var(--primary-900) !important;
  background-color: transparent !important;
  border-color: var(--primary-900) !important;
  transition: color 0.3s ease !important;
}

.standard-button.primary.inverted:hover:not(:disabled),
.icon-button.primary.inverted:hover:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--primary-900) !important;
  border-color: var(--primary-900) !important;
}

.standard-button.primary.inverted:active:not(:disabled),
.icon-button.primary.inverted:active:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--primary-700) !important;
  border-color: var(--primary-700) !important;
}

.standard-button:disabled,
.icon-button:disabled {
  color: var(--gray-700) !important;
  background-color: transparent !important;
  border-color: var(--gray-600) !important;
  cursor: not-allowed !important;
}

.standard-button.secondary:not(:disabled),
.icon-button.secondary:not(:disabled) {
  color: var(--gray-400) !important;
  background-color: transparent !important;
  border-color: var(--gray-400) !important;
  transition: color 0.3s ease !important;
}

.standard-button.secondary:hover:not(:disabled),
.icon-button.secondary:hover:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--gray-600) !important;
  border-color: var(--gray-600) !important;
}

.standard-button.secondary:active:not(:disabled),
.icon-button.secondary:active:not(:disabled) {
  color: var(--white) !important;
  background-color: var(--gray-800) !important;
}

.standard-button.tertiary,
.icon-button.tertiary {
  color: var(--gray-400) !important;
  background-color: transparent !important;
  border-color: var(--gray-400) !important;
  transition: color 0.3s ease !important;
}

.standard-button.tertiary:hover,
.icon-button.tertiary:hover {
  color: var(--white) !important;
  background-color: var(--gray-400) !important;
}

.standard-button.tertiary:active,
.icon-button.tertiary:active {
  color: var(--white) !important;
  background-color: var(--gray-600) !important;
}
/* #endregion */

/* #region Labels */
.small-label-text {
  color: var(--primary-700);
}

.main-label-text {
  color: var(--text-primary-600) !important;
}
/* #endregion */

/* #region Inputs */
.input-field:not(.error),
.textarea-field:not(.error),
.select-field:not(.error) {
  background-color: var(--input-background);
  color: var(--input-text);
  border: 1px solid var(--input-border);
}

.input-field.error {
  border-color: var(--error-color);
  background-color: var(--error-background);
  color: var(--error-color);
}

/* #endregion */

/* #region Badge */

.badge.default {
  background-color: #454d59;
  color: var(--white);
}

.badge.green {
  background-color: #177967;
  color: var(--white);
}

.badge.blue {
  background-color: #4484af;
  color: var(--white);
}

.badge.red {
  background-color: #da5353;
  color: var(--white);
}

.badge.yellow {
  background-color: #cbdb3b;
  color: var(--white);
}

.badge.indigo {
  background-color: #9726e2;
  color: var(--white);
}

.badge.pink {
  background-color: #eb308d;
  color: var(--white);
}

.badge.cyan {
  background-color: #1ce4e4;
  color: var(--white);
}

/* #endregion */

/* #region Placeholders */  
.placeholder, .placeholder-circle {
  background-color: var(--black-20t);
}
/* #endregion */
