/* The follwoing are CSS variables that are used in the editor part of Freon, i.e. in the package 'core-svelte'. */
/* Change the values as you like. */
/* Note that we need to use a different syntax grato be able to use SCSS variables as value
for CSS variables, see https://www.sass-lang.com/documentation/breaking-changes/css-vars */
.editor-part {
  box-sizing: border-box;
  /* required*/
  --freon-error-background: #{gc.$mac-error-background};
  --freon-error-color: #{gc.$mac-pink-900};

  /* Selectable */
  --freon-selected-background-color: #{gc.$mac-gray-50t};
  --freon-selected-outline-color: #{gc.$mac-primary-900};
  --freon-selected-outline-width: 0px;
  --freon-selected-outline-style: solid;

  /* Editor Component */
  --freon-editor-component-background-color: #{gc.$mac-gray-900};
  --freon-editor-component-color: #{gc.$mac-gray-200};

  /* Dropdown Component */
  --freon-dropdown-component-border-color: #{gc.$mac-primary-900};
  --freon-dropdown-component-background-color: #{gc.$mac-primary-300};
  --freon-dropdown-component-color: #{gc.$mac-primary-900};
  --freon-dropdownitem-component-color: #{gc.$mac-primary-900};
  --freon-dropdownitem-component-background-color: #{gc.$mac-primary-300};
  --freon-dropdownitem-component-border-color: #{gc.$mac-primary-900};
  --freon-dropdownitem-component-error-bg-color: #{gc.$mac-red-600};
  --freon-dropdownitem-component-selected-color: #{gc.$mac-gray-300};
  --freon-dropdownitem-component-selected-background-color: #{gc.$mac-gray-900};
  --freon-dropdownitem-component-hover-color: inherit;
  --freon-dropdownitem-component-hover-background-color: inherit;

   /* Text Component */
  --freon-text-component-color: #{gc.$mac-primary-200};
  --freon-text-component-placeholder-color: #{gc.$mac-gray-600};
  --freon-text-component-actionplaceholder-color: #{gc.$mac-gray-600};

  /* Label Component */
  --freon-label-component-color: #{gc.$mac-gray-400};
  --freon-label-component-background-color: inherit;

  /* List Group Component */
  --freon-list-group-component-color: #{gc.$mac-white};
  --freon-list-group-component-background-color: #{gc.$mac-primary-900t};

  --freon-list-group-component-color2: #{gc.$mac-gray-200};
  --freon-list-group-component-background-color2: #{gc.$mac-white-5t};

  --freon-list-group-component-color3: #{gc.$mac-gray-200};
  --freon-list-group-line-color3: #{gc.$mac-white-20t};

  --freon-list-group-component-color4: #1191b9;
  --freon-list-group-line-color4: #1191b9;

  /* Item Group Component */
  --freon-item-group-component-color: #{gc.$mac-white};
  --freon-item-group-component-background-color: #{gc.$mac-primary-900t};

  --freon-item-group-component-color2: #{gc.$mac-gray-200};
  --freon-item-group-component-background-color2: #{gc.$mac-white-5t};
  
  /* Popup */
  --freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  /* Boolean components */
  --freon-boolean-accent-color: #{gc.$mac-primary-900};
  --freon-boolean-focus-color: #206C2D;
  --freon-boolean-hover-color: #4C5C96;

  /* Switch component */
  --freon-boolean-unselected-track: #535353;