// Overall styles applied to the webapp and the editor in both light and dark mode

@use '@material/typography/mdc-typography';


/* #region GENERAL */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%; /* Ensure the height is 100% */
  overflow: hidden; /* Hide the scrollbar */
}

main {
  height: calc(100vh - 4px);
}

.mdc-drawer-app-content {
  height: 100%;
}

/* #endregion */

/* #region FREON SETTINGS */
.editor-part {
  box-sizing: border-box;

  /* General */
  --freon-placeholder-font-family: "Roboto"; 
  --freon-placeholder-font-size: 0.875rem;
  --freon-placeholder-font-style: normal;
  --freon-placeholder-font-weight: light; 

  /* Editor Component */
  --freon-editor-component-margin: 1px;
  --freon-editor-component-padding: 1px;
  --freon-editor-component-font-family: "Roboto"; 
  --freon-editor-component-font-size: 0.875rem;
  --freon-editor-component-font-style: normal;
  --freon-editor-component-font-weight: normal; 

  /* Horizontal list - trbl */
  --freon-horizontallist-component-padding: 0 0 10px 0;
  --freon-horizontallist-component-margin: 0;
  --freon-horizontallist-component-align-items: top;

  /* Vertical list - trbl */
  --freon-verticallist-component-padding: 0 0 1px 0;
  --freon-verticallist-component-margin: 0px;

  /* Horizontal layout - trbl */
  --freon-horizontallayout-component-padding: 0 0 0 0;
  --freon-horizontallayout-component-margin: 0px;
  --freon-horizontallayout-component-align-items: top;

  /* Vertical layout - trbl */
  --freon-verticallayout-component-padding: 0 0 5px 0;
  --freon-verticallayout-component-margin: 0;

  /* Label Component */
  --freon-label-component-font-size: 0.875rem;
  --freon-label-component-font-style: normal;	
  --freon-label-component-font-weight: normal;	
  --freon-label-component-font-family: "Roboto";	
  --freon-label-component-font-variant: normal;
  --freon-label-component-padding: 0px 1px 0px 1px;
  --freon-label-component-margin: 0px 0px 0px 4px;

  /* Text Component */
  --freon-text-component-font-size: 0.875rem;
  --freon-text-component-font-style: normal;		
  --freon-text-component-font-weight: normal;	
  --freon-text-component-font-family: "Roboto";
  --freon-text-component-padding: 0px 0px 0px 2px;
  --freon-text-component-margin: 0px 1px 0px 3px;

  --freon-text-component-ro-padding: 0px 1px 0px 2px;
  --freon-text-component-ro-margin: 0px 2px 0px 3px;

  /* MultilineText Component */
  --freon-multilinetext-component-font-size: 0.875rem;
  --freon-multilinetext-component-font-style: normal;		
  --freon-multilinetext-component-font-weight: normal;	
  --freon-multilinetext-component-font-family: "Roboto";
  --freon-multilinetext-component-padding: 0px 0px 0px 2px;
  --freon-multilinetext-component-margin: 4px 4px 4px 6px;

  /* List Group Component */
  --freon-list-group-component-font-size: 1rem;
  --freon-list-group-component-font-style: normal; 
  --freon-list-group-component-font-weight: normal;
  --freon-list-group-component-font-family: "Roboto";
  --freon-list-group-component-margin: 0;
  --freon-list-group-component-padding: 4px 0;

  --freon-list-group-component-font-size: 1rem;
  --freon-list-group-component-font-size2: 0.875rem;
  --freon-list-group-component-font-size3: 0.8rem;
  --freon-list-group-component-font-size4: 0.8rem;

  /* Item Group Component */
  --freon-item-group-component-font-size: 0.875rem;
  --freon-item-group-component-font-style: normal; 
  --freon-item-group-component-font-weight: lighter;
  --freon-item-group-component-font-family: "Roboto";
  --freon-item-group-component-margin: 0;
  --freon-item-group-component-padding: 4px 0;

  --freon-item-group-component-font-size2: 0.875rem;

  /* Date Component */
  --freon-date-component-font-size: 0.875rem;
  --freon-date-component-font-style: normal;		
  --freon-date-component-font-weight: normal;	
  --freon-date-component-font-family: "Roboto";
  --freon-date-component-padding: 1px 1px 1px 1px;
  --freon-date-component-margin: 0px 1px 0px 2px;

  /* Switch Component */


  
}

/* #endregion */

/* #region FREON COMPONENTS */

  /* #region Label Component */
  .label-component:empty:before {
    background-color: var(--freon-label-component-background-color, inherit);
  }
  
  .label-component {
    color: var(--freon-label-component-color, inherit) !important;
    background-color: var(--freon-label-component-background-color, inherit) !important;
  }
    /* #endregion */ 
  
  /* #region Text Component */
  
  .textcomponent-inputtext {
    color: var(--freon-text-component-color, blue) !important;
    background: var(--freon-selected-background-color, rgba(211, 227, 253, 255)) !important;
  }
  
  .textcomponent-text {
    color: var(--freon-text-component-color, blue) !important;
    background: var(--freon-text-component-background-color, inherit) !important;
  }
  
  .textcomponent-placeholder {
    color: var(--freon-text-component-placeholder-color, blue) !important;
    background: var(--freon-text-component-background-color, inherit) !important;
  }
  
  .textcomponent-actionPlaceholder {
    color: var(--freon-text-component-actionplaceholder-color, darkgrey) !important;
    background: var(--freon-text-component-background-color, inherit) !important;
  }
    /* #endregion */ 
  
  /* #region Switch Component */
  .switch-component button {
    background: var(--freon-boolean-unselected-track, var(--mdc-theme-on-surface));
  }

  .switch-component button::before { /* defines the knob */
    background: var(--freon-boolean-background-color, var(--mdc-theme-background));
  }

  .switch-component button[aria-checked='true']{
    background-color: var(--freon-boolean-color, var(--mdc-theme-primary))
  }

  .switch-component button:focus {
    box-shadow: 0 0 0 1px var(--freon-boolean-focus-color, var(--mdc-theme-primary));
}

.switch-component button:hover {
    box-shadow: 0 0 5px 2px var(--freon-boolean-hover-color, var(--mdc-theme-primary));
}

  /* #endregion */ 
  
  /* #region List Group Component */
  .list-group:empty:before {
    background-color: var(--freon-list-group-component-background-color, inherit);
  }

  .list-group.type1 {
      background-color: var(--freon-list-group-component-background-color, inherit); 
    }
  .list-group.type2 {
      background-color: var(--freon-list-group-component-background-color2, inherit); 
  }
  .list-group.type3 {
    border-bottom: 1px solid var(--freon-list-group-line-color3);
  }
  .list-group.type4 {
    border-bottom: 1px solid var(--freon-list-group-line-color4);
  }
  .list-group-label.type1 {
    color: var(--freon-list-group-component-color, inherit);
  }
  .list-group-label.type2 {
    color: var(--freon-list-group-component-color2, inherit);
  }
  .list-group-label.type3 {
    color: var(--freon-list-group-component-color3, inherit);
  }
  .list-group-label.type4 {
    color: var(--freon-list-group-component-color4, inherit);
  }
  .toggle-button.type4 {
    color: var(--freon-list-group-component-color4, inherit);
  }

  /* #endregion */ 

  /* #region Item Group Component */
  .item-group:empty:before {
    background-color: var(--freon-item-group-component-background-color, inherit) !important;
  }

  .item-group {
    background-color: inherit !important;
  }
  
  .item-group .required {
    background-color: var(--freon-error-background, inherit) !important;
    color: var(--freon-error-color, inherit) !important;
  }

  .item-group-label.type1 {
    color: var(--freon-item-group-component-color, inherit) !important;
  }

  .item-group-label.type2 {
    color: var(--freon-item-group-component-color, inherit) !important;
  }
  /* #endregion */ 

  /* #region Layout Component */
.layout-component {
  background: transparent !important;
}
  /* #endregion */

  /* #region MultlineText Component */
  .multiline-text {
    color: var(--freon-editor-component-color, rgb(129, 129, 129)) !important;
    background: var(--freon-text-component-background-color, inherit) !important;
  }

  .multiline-editor {
    outline: 1px solid transparent !important;
    outline-offset: 1px !important;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #32cd3275;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
    border-color: #ffffff00;
    margin: 4px 4px 4px 4px !important;
  }

  /* #endregion */ 

  /* #region Date Component */
  .datecomponent-inputtext {
    color: var(--freon-text-component-color, blue) !important;
    background: var(--freon-selected-background-color, rgba(211, 227, 253, 255)) !important;
  }
  
  .datecomponent-text {
    color: var(--freon-text-component-color, blue);
    background: var(--freon-text-component-background-color, inherit);
  }
  
  .datecomponent-placeholder {
    color: var(--freon-text-component-placeholder-color, blue);
    background: var(--freon-text-component-background-color, inherit);
  }
  /* #endregion */ 

  /* #region Time Component */
    .timecomponent-inputtext {
      color: var(--freon-text-component-color, blue) !important;  
      background: var(--freon-selected-background-color, rgba(211, 227, 253, 255)) !important;
    }
    
    .timecomponent-text {
      color: var(--freon-text-component-color, blue) !important;
      background: var(--freon-text-component-background-color, inherit) !important;
    }
    
    .timecomponent-placeholder {
      color: var(--freon-text-component-placeholder-color, blue) !important;
      background: var(--freon-text-component-background-color, inherit) !important;

    }
    /* #endregion */ 
